/node_modules/
.env
/log
/misc
/sandbox.js
/sessions

# jest
/coverage

# webpack temporary dir
/build

/dist

# jwt keys
/keys
/.cache
/storage
# Redis sump
/dump.rdb
/public
/sessions
/package.tgz
/package-*.tgz

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions